# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Sanity
.sanity/