# Sanity Project Configuration
SANITY_PROJECT_ID=denvgz3m
# Get your token from Sanity Studio -> Manage -> API -> Tokens (Give it "Editor" or "Contributor" access)
SANITY_TOKEN=your_sanity_token_here
PORT=5000
